<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm">
      <div class="form-group">
        <label class="col-md-4">Person Name</label>
        <input type="text" formControlName="personalName" class="form-control" placeholder="Person Name">
      </div>
      <div *ngIf="angForm.controls['personalName'].errors?.required && submitted" class="alert alert-danger">
        Person Name is Required
      </div>

      <div class="form-group">
        <label class="col-md-4">Business Name</label>
        <input type="text" formControlName="businessName" id="businessName" class="form-control" placeholder="Business Name">
      </div>
      <div *ngIf="angForm.controls['businessName'].errors?.required && submitted" class="alert alert-danger">
        Business Name is Required
      </div>

      <div class="form-group">
        <label class="col-md-4">Business Number</label>
        <input type="text" formControlName="businessNumber" id="businessNumber" class="form-control" placeholder="Business Number">
      </div>
      <div *ngIf="angForm.controls['businessNumber'].errors?.required && submitted" class="alert alert-danger">
        Business Number is Required
      </div>

      <div class="form-group">
        <button (click)="updateData()" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>