<table class="table table-hover">
  <thead>
    <tr>
      <td>Person Name</td>
      <td>Business Name</td>
      <td>Business Number</td>
    </tr>    
  </thead>
  <tbody>
    <tr *ngFor="let business of businesses">
      <td>{{ business.personalName }}</td>
      <td>{{ business.businessName }}</td>
      <td>{{ business.businessNumber }}</td>
      <td><a [routerLink]="['edit', business.personalName]" class="btn btn-primary" routerLinkActive="active">Edit</a></td>
      <td><a (click)="deleteBusiness(business.personalName)" class="btn btn-danger" >Delete</a></td>
    </tr>
  </tbody>
</table>